@import '../../../../styles/variables';
@import '~breakpoint-sass/stylesheets/breakpoint';

.view-selector-component {
  z-index: 1001;

  @include breakpoint(0 $sm - 1) {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: solid 1px lightgray;
  }

  .selector {
    display: inline-flex;
    background-color: white;
    color: $primary;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;

    @include breakpoint(0 $sm - 1) {
      flex: 1;
      padding: 10px;
      font-size: 20px;
      justify-content: center;
    }
  }

  .selected {
    color: white;
    background-color: $primary;
  }
}
