@import '../../../../styles/variables';
@import '~breakpoint-sass/stylesheets/breakpoint';

.home-component {
  margin: 30px auto;

  @include breakpoint(0 $sm - 1) {
    margin: 0;
  }

  @include breakpoint($md) {
    min-height: calc(100vh - 190px);
  }

  input {
    width: 300px;

    @include breakpoint(0 $sm - 1) {
      width: 100%;
    }
  }
}
