@import '../../../../../../styles/variables';

.language-selector-component {
  outline: 0 !important;

  .p-dropdown {
    height: 40px;
    border-color: $primary;
    width: 120px;
    min-width: 120px;
    box-shadow: none !important;

    .pi-chevron-down {
      color: $primary;
    }

    .p-dropdown-label {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .language-option {
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }

    img {
      width: 20px;
      height: 13px;
    }
  }
}
